.groupImgMainImg{
    border-radius: 10%;
    padding:2%;
}

.groupByIdContainerImgOne{
    margin:auto;
    padding-top:100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    padding-left:20px;
    width:80%;
}
.groupByIdContainerImgOne div div{
    padding-top:5%;
    padding-left:2%;
    display:flex;
    align-items: center;

}
.groupByIdContainerImgOne div h2{
    font-family:sans-serif;
    font-size: 35px;
}
.groupByIdContainerImgOne div  i{
    color:gray;
}
.groupByIdContainerImgOne div p{
    font-family:sans-serif;
    color:gray;
    margin-left:2%;
}
.groupByIdContainerImgOne img{
    width:40%

}

.groupImageBoxContainer{
    display: flex;
    width:100%;
    height:100%;
    background-color: #ecf0f3;
   
}
.groupImageBoxContainer div{
    width:50%;

    padding-left:4%;
    padding-top:2%;
}
.groupImageBoxContainerDiv{
    overflow-y:hidden;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.groupImageBoxContainerDiv:hover{
    overflow-y:scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.groupImageBoxInner{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    overflow-x: hidden; /* Hide horizontal scrollbar */
    height:60%;
}
.groupImageBoxInner:hover{
    overflow-y: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}
hr{
    color:gray;
}
.groupByIdButtons{
    display: flex;
    justify-content: space-between;
    position:sticky;
    width:40%;
    margin:auto;
    padding-bottom:1%;
    padding-top:0.5%;
}

.groupByIdButtons button{
    margin:auto;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    width:20%;
}
.memberListGroupById{
    height:30%;

}
.memberListGroupById ul{
    padding-top: 5%;
    display:flex;
    flex-wrap: wrap;
}
.memberListGroupById ul li{
    padding-left:5%;
}
.groupImageBox{

    display: flex; 
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    align-items: center;

}
.groupImagePreviewHolder{
    width:30%;
    padding: 5%;
}
.groupImagePreviewHolder img{
    width:100%;
    border-radius: 10%;


}
.groupByIdMainTop{
    padding-top:2%;
}
.groupByIdMainTop a{
    padding-left:2%;
}
.deleteImgFromGroupById{
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
}
.backToGroupsMainFromGroupById{
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    text-decoration: none;
    
}

.specificEventBox{
    height: 150px;
    margin-bottom: 30px;
    width:100%;
    background-color: white;
    display:flex;
    flex-direction: column;
    border-radius:2%;
    
  
}

.specificEventBox div{
    width:100%;
}

.memberListeBox{
    width:60%;
}