.groupImgMainImg{
    border-radius: 10%;
    padding:2%;
    
}
.memberlistgroupbyidholder{

    display:flex;
    flex-direction: column;
}

.groupByIdContainerImgOne{
    margin:auto;
    padding-top:100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    padding-left:20px;
    padding-bottom:5%;
    width:80%;
    
}
.groupByIdContainerImgOne div {

padding-bottom: 5%;
   
}
.groupByIdContainerImgOne div div{
    padding-top:7%;
    padding-left:2%;
    display:flex;
    align-items: center;
    height:10px;

}
.groupByIdContainerImgOne div h2{
    font-family:sans-serif;
    font-size: 35px;
}
.groupByIdContainerImgOne div  i{
    color:gray;
}
.groupByIdContainerImgOne div p{
    font-family:sans-serif;
    color:gray;
    
}
.groupByIdContainerImgOne img{
    width:50%

}

.groupImageBoxContainer{
    display: flex;

    width:70%;
    margin:auto;
    height:100%;
    background-color: #ecf0f3;
   
}
.groupoByidCard{
  width:20%; 
  height:30%; 
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius:5%;
  padding:3%;
  font-family:sans-serif;
}
.moveH4toright{
   padding-left:5%; 
}

.backGroundcolor{
    display: flex;
    flex-direction: row;
    background-color: #ecf0f3;
    height:900px;
    padding-bottom: 5%;
    margin-left:-1%;
    margin-right:-1%;
}
.groupImageBoxContainer div{
    width:80%;
    

    padding-left:4%;
    padding-top:2%;
}
.importantToCenter{
    width:100%;
}
.changeToScroll{
    overflow-y:scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height:80%;
}
.changeToScroll::-webkit-scrollbar {
    display:none;
    scrollbar-width:0px;
}
.fa-users{
    width:10%;
}

.groupImageBoxInner{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width:100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height:60%;
}

hr{
    color:gray;
}
.groupByIdButtons{
    display: flex;
    justify-content: space-between;

    width:40%;
    margin:auto;
    padding-bottom:1%;
    padding-top:0.5%;
}
.sticksToTop{
    position:sticky;
    top:0;
    background-color: white;
}


.groupByIdButtons button{
    margin:auto;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    width:20%;
}

.memberListGroupById{
    height:30%;
    overflow:hidden;

}
.memberListGroupById ul {
    display:flex;
    flex-direction:row;
}
.memberListGroupById ul{
    padding-top: 5%;
    display:flex;
    flex-wrap: wrap;
}
.memberListGroupById ul li{
    padding-left:5%;
}
.groupImageBox{


    display: flex; 
    flex-wrap: wrap;
    margin:auto;
    /* justify-content: center;
    align-items: center; */

}
.groupImagePreviewHolder{
    width:30%;
    padding: 5%;
}
.groupImagePreviewHolder img{
    width:100%;
    border-radius: 10%;


}
.groupByIdMainTop{
    padding-top:2%;
}
.groupByIdMainTop a{
    padding-left:2%;
    
}
.deleteImgFromGroupById{
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
}
.backToGroupsMainFromGroupById{
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    text-decoration: none;
    
}

.specificEventBox{
    height: 150px;
    margin-bottom: 30px;
    width:90%;
    background-color: white;
    display:flex;
    flex-direction: row;
    border-radius:2%;
    
  
}
.specificEventBox a{
display:flex;
flex-direction: row;
}
.specificEventBox a div{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
    }
    .specificEventBox a div h4{
        margin-top:-2%;
        color:lightblue;
    
        }
    .specificEventBox a div h2{
        margin-top:-2%;
        
         }



.specificEventBox a img{
    width:80%;
    border-radius: 5%;


}


/* .specificEventBox div{
    width:100%;
    
}
.specificEventBox img{
    width:30%;
    
} */

.memberListeBox{
    width:60%;
    
}
.fa-solid{
    padding-right:3%;
}