.groupByIdContainerOne{
    margin:auto;
}

.groupByIdContainerImgOne{
    padding-top:100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:500px;
    margin:auto;
}
.groupByIdContainerImgOne img{
    width:80%

}