.homePageFromGroup{
    cursor: pointer;
    padding-top:30px;
}

.myListUl{
   display: flex; 
   flex-wrap: wrap;
   height: 1000px;
   width:50%;
   margin:auto;
   justify-content: center;
   align-items: center;
}
.myListUl li{
    width:50%;
    height:20%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.groupsDivWithContent{
    margin:auto;
    padding-top:30px;
    width:80%;
}
.groupsDivWithContent h2{
    margin:auto;
    width:20%;

}
.groupsDivWithContent p{
    margin:auto;
    width:12%;
    padding-top:20px;
    padding-bottom: 20px;

}

.groupsDivWithContent button{
    margin:auto;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    width:20%;
}