
.groupsDivRoot{
    padding-top: 400px;
    
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.groupsDivRootOne p {
    cursor: pointer;
    position: relative;
    right:44%;

}
.groupsDivRootOne{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.myListUli{
   display: flex; 
   flex-wrap: wrap;
   height:auto;
   width:50%;
   margin:auto;
   justify-content: center;
   align-items: center;
}
.myListUli li{
    width:30%;
    height:20%;
    padding:5%;
    margin:auto;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
}
.myListUli li img{
    width:100%;
    border-radius: 4%;
   
}
.groupsDivWithContent{
   
    margin:auto;
    padding-top:30px;
    width:80%;
    height:auto;
    padding-bottom:200px;
}
.groupsDivWithContent h2{
    margin:auto;
    width:20%;

}
.groupsDivWithContent p{
    margin:auto;
    width:12%;
    padding-top:20px;
    padding-bottom: 20px;

}

.groupsDivWithContent button{
    margin:auto;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
}
.topOfHeaderForGroup{
    display:flex;
    justify-content: flex-start;

}
.topOfHeaderForGroup p{
    position:relative;
    right:15%;
    cursor: pointer;
}
.topOfHeaderForGroup h2 {
    position:relative;
    right:40%;
}

.topOfGroupHome{
    padding-bottom: 70%;
}