
.groupsDivRoot{
    padding-top: 200px;
    
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.groupsDivRootOne p {
    cursor: pointer;
    position: relative;
    right:44%;

}
.groupsDivRootOne{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.myListUli{
   display: flex; 
   flex-wrap: wrap;
   height:auto;
   width:80%;
   margin:auto;
   justify-content: center;
   align-items: center;

 
}
.myListUli::-webkit-scrollbar {
    display:none;
}

.myListUli li{
    width:40%;
    height:40%;
    padding:5%;
    margin:auto;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
}
.myListUli li img{
    width:100%;
    margin-bottom: 2%;
    border-radius: 4%;
   
}
.groupsDivWithContent{
   
    margin:auto;
    padding-top:30px;
    width:80%;
    height:auto;
    padding-bottom:200px;
}
.groupsDivWithContent h2{
    margin:auto;
    width:25%;

}
.groupsDivWithContent p{
    margin:auto;
    width:12%;
    padding-top:20px;
    padding-bottom: 20px;

}

.groupsDivWithContent button{
    margin:auto;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
}
.topOfHeaderForGroup{
    display:flex;
    justify-content: flex-start;
    padding-bottom:5%;
    top:15%;

}
.topOfHeaderForGroup p{
    position:relative;
    right:18%;
    bottom:10%;
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    width:24%;
}
.topOfHeaderForGroup div {
    position:relative;
    right:20%;
    width:40%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.topOfHeaderForGroup div h2{
    position:relative;
    right:25%;
    width:40%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.topOfHeaderForGroup div p{
    position:relative;
    
    right:25%;
    width:40%;
    font-family: sans-serif;
    font-weight: bolder;
    
}

.topOfGroupHome{
    padding-bottom: 20%;
    
}
.mildLittlePTag{
    font-family: sans-serif;
    font-weight: light;
}