.eventsHomePage{
    display:flex;
    width:60%;
    margin:auto;
    height:1000px;
    padding-top:5%;
    position:relative;
    right:120px;
    top:120px;
}

.eventsHomePage div{
    padding-left:10%;

}
.fillMeTwo{
    width:720px;

}
.fillMeTwo>h1{
    width:fit-content;
    margin:auto;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    padding-top:4%;
}

.fillMe{
    overflow-y: scroll;
    overflow-x:hidden;
    height:80%;
}
.fillMe::-webkit-scrollbar {
    width:0;
}
.homePageFromGroup{
    cursor: pointer;
    width:200px;

    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    position:relative;
    top:1%;
    z-index:40;
}