.shell{
    background-color:rgb(60, 60, 60);
    margin-top:100px;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footerP{ 
    color:lightgray;
}
h2{
    color:black;
}
.fa-brands{
    color:lightgray;
}
.top{
    display: flex;
}
.mid{
    display: flex; 
}
.bot{
    display: flex; 
    justify-content: flex-start;
   
}
.botContainer{
    width: 15%;
}
.socialFooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    size: 10px;
}