.shell{
    background-color:rgb(62, 61, 61);
    margin-top:100px;
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.topButton{
    margin-top:5px;
    margin-left:15px;
    border:solid 3px white;
    border-radius:30%;
    color:white;
    background-color: black;
}
.footerP{ 
    color:lightgray;
}
h2{
    color:black;
}
.fa-brands{
    color:lightgray;
}
.top{
    display: flex;
    
}
.mid{
    display: flex; 
}
.bot{
    display: flex; 
    justify-content: flex-start;
   
}
.botContainer{
    width: 15%;
}
.socialFooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    size: 10px;
}