/* TODO Add site wide styles */

a{
    text-decoration: none;
    font-family:sans-serif;
    
}
a h3, h2, h4{
    color:black;
}
a p{
    color:gray;
}
a img{
    color:gray;
}
::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar:vertical{
    display: block;
    background-color:aliceblue;
}
::-webkit-scrollbar-thumb{
    background:#B4C4BC;
    border-radius: 10px;
    height: 2em;
}