a, h2, h1, h3, h4, p{
    font-family:Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; 
}
.eventByIdPrimary h4{
    font-family: sans-serif;
}
.eventByIdPrimary{
    display:flex;
    flex-direction:column;
    margin-left:20%;
}
.eventByIdEventType{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:20%;
    padding:.5%;
    width:10%;
    height:3%;
    border-radius: 8%;
    background-color:#ecf0f3 ;
}
.eventByIdEventType p{
    color:gray;
    margin-left:5%;
    font-family: sans;
}
.eventByIdEventType i{
    margin-left:5%;
    color:gray;


}
.eventByIdEventHost{
    width:10%;
    padding-top:1%;
    font-family: sans;
    margin-left:20%;
}
.eventByIdEventHost p{
    margin:auto;
    font-family: sans;
}
.eventByIdEventHost h4{
    padding-top:6%;
    margin:auto;
    font-family: sans;
}
.eventByIdEventHolder{
    margin-top:2%;
    display: flex;
    flex-direction: row;
    
    border-top: solid #d7d9da;
    background-color:#ecf0f3;
    height:1500px;
}
.eventByIdEventHolderChildOneImg{
    width:600px;
}
.eventByIdEventHolder div{
    margin-top:3%;
    margin-left:20%;
}
.eventByIdEventHolderChildOne{
    width:60%;


}
.eventByIdEventHolderChildTwo{
    position:relative;
    right:20%;
    width:50%;
}
.specificImageForEventHolder{
   width:auto;
   height:500px; 
   display:flex;
   flex-wrap:wrap;
   overflow-x:hidden;
   overflow-y:hidden;
}
.specificImageForEventHolder:hover{
    overflow-x:hidden;
    overflow-y:scroll;
}
.specificImageForEventHolder li{
    display:flex;
    flex-direction:column;
    align-items: center;
    height:30%;
    width:40%;
    padding-top:2%;
}
.specificImageForEventHolder li button{
    margin:auto;
    background:none;
    border:none;
    margin:0;
    margin-top:7%;
    padding:0;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    width:100%;
}
.specificImageForEventHolder li img{
    width:40%;
    border-radius: 10%;
}
.deleteEventByIdBtn{
    position: relative;
    right:25%;
}