.createEventModalContainer{
    display:flex;
    flex-direction:column;
}
.createEventModalContainer img {
    height:10%;
    width:10%;
    margin:auto;
}
.createEventModal div{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    padding-top:2px;

}
.createEventModal button {
    margin:auto;
    padding-top:2px;
}
.createEventModal div label{
    font-family:Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    padding-top:2px;
}
.createEventModal div select {
    font-family:Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    padding-top:2px;
    width:20%;
}
.createEventModal div input {
    border-radius:2%;
    width:40%;
    padding-top:2px;
}
.createEventModal div button{

    width:20%;
    margin:auto;
    background:none;
    border:none;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    padding-top:2px;
}
