.loginForm{
    display:flex;
    flex-direction:column;


    
}

.loginFomr{
    width:40%;
    margin:auto;
    position:relative;
    left:30%;
}

.loginForm div{

    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    padding-bottom: 15%;
}
.loginForm div label {
    font-family:Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    padding-bottom:2%;
}

.loginForm div input {
    font-family:Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    border-radius:2%;
    height:15%;
}
.loginForm button {
    width:20%;
    margin:auto;
    background:none;
    border:none;
    text-decoration: none;
    padding-right:20px;
    color:rgb(53, 51, 51);
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    
}

/* Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif; */